[Desktop Entry]
Type=Application
Name=Alienfan
GenericName=Ventoinhas
Comment=Perfil térmico e ventoinhas do Alienware
Exec=alienfan-panel
Icon=io.github.lorenzopasquali.AlienFan
Terminal=false
Categories=Settings;HardwareSettings;
Keywords=ventoinha;fan;alienware;perfil;térmico;temperatura;
StartupWMClass=alienfan-panel
StartupNotify=true
